* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #81a69b;
  margin: 0;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.search-params {
  width: 1200px;
  margin: 0 auto;
}

.search-params form {
  border-radius: 6px;
  background-color: #faeff0;
  box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
  width: 360px;
  margin: 0px 25px 0px 0px;
  padding: 35px 15px 15px 15px;
  float: left;
}

.search-params label {
  display: block;
  width: 60px;
  font-weight: bold;
  font-size: large;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
